:root {
    --primary-color: rgba(13, 110, 139, .75);
    --secondary-color: rgba(195, 219, 226, 0.924); 
    --tertiary-color:  rgba(59, 62, 63, 0.924);
    --overlay-color: rgba(24, 39, 51, .85);
    --menu-speed: .75s;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 0 25px;
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
 }
 
 body::-webkit-scrollbar-thumb {
    background: #ececec;
 }

@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }
}

.loading-spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    transition: opacity .2s;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-spinner-true {
    opacity: 1;
    visibility: visible;
}

.loading-spinner-false {
    opacity: 0;
    visibility: hidden;
}