* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
 }
 
 body::-webkit-scrollbar-thumb {
    background: #ececec;
 }
